<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tarzan</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
   <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
  </head>
  <body style="background:#6099a6;">

    <!-- Navbar -->
    <div class="ui attached stackable menu" style="background:#225f73;">
    <div class="ui container">
      <a class="item" style="color:#ffffff;">
        <i class="home icon" style="color:#ffffff;"></i> <span style="font-size:20px;">Tarzan</span>
      </a>

      <a class="item" style="color:#ffffff;">
        <i class="columns icon" style="color:#ffffff;"></i> Book
      </a>

      <div class="right item">

        <a class="item" style="color:#ffffff;">
        <i class="power off icon" style="color:#ffffff;"></i></a>

      </div>
    </div>
  </div>

  <!-- Navbar end -->

<div class="ui container" style="margin-top:3%;">


  <div class="ui raised segment">
  <h4 class="ui header">Book</h4>

  <form method="post">

    <div class="ui form">
  <div class="one fields">
    <div class="six wide field">
      <label>No. of books</label>
      <input type="number" placeholder="6">
    </div>

  </div>

  <div class="one fields">
    <div class="six wide field">
      <label>Author type</label>
      <input type="text" placeholder="Sole">
    </div>

</div>

<div class="one fields">
  <div class="six wide field">
    <label>Name of Publishers</label>
    <input type="text" placeholder="ABC">
  </div>

</div>




</div>

  </form>



</div>


<!-- Attended -->




</div>






  </body>
</html>
