<!DOCTYPE html>
{% load staticfiles %}

{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tarzan</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
   <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
   <!--    For date picker  --> 
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!--  date picker ends  --> 
  </head>
  <body style="background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);">

    <!-- Navbar -->
    <div class="ui attached stackable menu" style="background:#343a40;">
    <div class="ui container">
      <a class="item" style="color:#ffffff;">
        <i class="home icon" style="color:#ffffff;"></i> <span style="font-size:20px;">FIMS</span>
      </a>

      <a class="item" style="color:#ffffff;">
        <i class="columns icon" style="color:#ffffff;"></i> Conference Journals
      </a>

      <div class="right item">

       <a class="item" style="color:#ffffff;" href="/logout/">
        <i class="power off icon" style="color:#ffffff;"></i></a>
      </div>
    </div>
  </div>

  <!-- Navbar end -->

<div class="ui container" style="margin-top:3%;">


  

  <form method="post">

    <div class="ui form">
      <div class="ui raised segment">
    <h3 class="ui header">Conference</h3>
    <div class="eight fields">
    <div class="field">
      <label>Name</label>
      {% render_field form.c1_name class="form-control" %}
    </div>

    <div class="field">
      <label>title</label>
      {% render_field form.c1_title class="form-control" %}
    </div>

    <div class="field">
      <label>Place</label>
      {% render_field form.c1_place class="form-control" %}
    </div>

    <div class="field">
      <label>Date</label>
      {% render_field form.c1_date class="form-control" id="datepicker1" %}
    </div>

    <div class="field">
      <label>Author type</label>
      {% render_field form.c1_author_type class="form-control" %}
    </div>

    <div class="field">
      <label>Index</label>
      {% render_field form.c1_index_type class="form-control" %}
    </div>

    <div class="field">
      <label>DOI</label>
      {% render_field form.c1_doi class="form-control" %}
    </div>

    <div class="field">
      <label>Url</label>
      {% render_field form.c1_url class="form-control" %}
    </div>

</div>




   <div class="eight fields">
    <div class="field">
      {% render_field form.c2_name class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c2_title class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c2_place class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c2_date class="form-control" id="datepicker2" %}
    </div>

    <div class="field">
      {% render_field form.c2_author_type class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c2_index_type class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c2_doi class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c2_url class="form-control" %}
    </div>

</div>

 <div class="eight fields">
    <div class="field">
      {% render_field form.c3_name class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c3_title class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c3_place class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c3_date class="form-control" id="datepicker3" %}
    </div>

    <div class="field">
      {% render_field form.c3_author_type class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c3_index_type class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c3_doi class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c3_url class="form-control" %}
    </div>

</div>

 <div class="eight fields">
    <div class="field">
      {% render_field form.c4_name class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c4_title class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c4_place class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c4_date class="form-control"id="datepicker4"  %}
    </div>

    <div class="field">
      {% render_field form.c4_author_type class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c4_index_type class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c4_doi class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c4_url class="form-control" %}
    </div>

</div>

<div class="eight fields">
    <div class="field">
      {% render_field form.c5_name class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c5_title class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c5_place class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c5_date class="form-control" id="datepicker5" %}
    </div>

    <div class="field">
      {% render_field form.c5_author_type class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c5_index_type class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c5_doi class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c5_url class="form-control" %}
    </div>

</div>

<div class="eight fields">
    <div class="field">
      {% render_field form.c6_name class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c6_title class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c6_place class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c6_date class="form-control" id="datepicker6" %}
    </div>

    <div class="field">
      {% render_field form.c6_author_type class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c6_index_type class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c6_doi class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c6_url class="form-control" %}
    </div>

</div>

<div class="eight fields">
    <div class="field">
      {% render_field form.c7_name class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c7_title class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c7_place class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c7_date class="form-control" id="datepicker7" %}
    </div>

    <div class="field">
      {% render_field form.c7_author_type class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c7_index_type class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c7_doi class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.c7_url class="form-control" %}
    </div>

</div>

</div>
 <div class="ui raised segment">
    <h3 class="ui header">Journals</h3>
    <div class="eight fields">
    <div class="field">
      <label>Name</label>
      {% render_field form.j1_name class="form-control" %}
    </div>

    <div class="field">
      <label>Title</label>
      {% render_field form.j1_title class="form-control" %}
    </div>

    <div class="field">
      <label>Volume</label>
      {% render_field form.j1_volume class="form-control" %}
    </div>

    <div class="field">
      <label>Date</label>
      {% render_field form.j1_date class="form-control" id="datepicker8" %}
    </div>

    <div class="field">
      <label>Author type</label>
      {% render_field form.j1_author class="form-control" %}
    </div>

    <div class="field">
      <label>Page</label>
      {% render_field form.j1_page class="form-control" %}
    </div>

    <div class="field">
      <label>Index</label>
      {% render_field form.j1_index class="form-control" %}
    </div>

    <div class="field">
      <label>DOI</label>
      {% render_field form.j1_doi class="form-control" %}
    </div>

    <div class="field">
      <label>Url</label>
      {% render_field form.j1_url class="form-control" %}
    </div>

</div>




   <div class="eight fields">
    <div class="field">
      {% render_field form.j2_name class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j2_title class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j2_volume class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j2_date class="form-control" id="datepicker9" %}
    </div>

    <div class="field">
      {% render_field form.j2_author class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j2_page class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j2_index class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j2_doi class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j2_url class="form-control" %}
    </div>

</div>

    <div class="eight fields">
    <div class="field">
      {% render_field form.j3_name class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j3_title class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j3_volume class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j3_date class="form-control" id="datepicker10" %}
    </div>

    <div class="field">
      {% render_field form.j3_author class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j3_page class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j3_index class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j3_doi class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j3_url class="form-control" %}
    </div>

</div>

    <div class="eight fields">
    <div class="field">
      {% render_field form.j4_name class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j4_title class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j4_volume class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j4_date class="form-control" id="datepicker11" %}
    </div>

    <div class="field">
      {% render_field form.j4_author class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j4_page class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j4_index class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j4_doi class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j4_url class="form-control" %}
    </div>

</div>

   <div class="eight fields">
    <div class="field">
      {% render_field form.j5_name class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j5_title class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j5_volume class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j5_date class="form-control" id="datepicker12" %}
    </div>

    <div class="field">
      {% render_field form.j5_author class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j5_page class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j5_index class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j5_doi class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j5_url class="form-control" %}
    </div>

</div>
   <div class="eight fields">
    <div class="field">
      {% render_field form.j6_name class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j6_title class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j6_volume class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j6_date class="form-control" id="datepicker13" %}
    </div>

    <div class="field">
      {% render_field form.j6_author class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j6_page class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j6_index class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j6_doi class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j6_url class="form-control" %}
    </div>

</div>

   <div class="eight fields">
    <div class="field">
      {% render_field form.j7_name class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j7_title class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j7_volume class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j7_date class="form-control" id="datepicker14" %}
    </div>

    <div class="field">
      {% render_field form.j7_author class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j7_page class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j7_index class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j7_doi class="form-control" %}
    </div>

    <div class="field">
      {% render_field form.j7_url class="form-control" %}
    </div>

</div>

</div>
</div>

  </form>
<script>
  $( function() {
    $( "#datepicker1" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
   $( "#datepicker2" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
    $( "#datepicker3" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
     $( "#datepicker4" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
  $( "#datepicker5" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
   $( "#datepicker6" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
    $( "#datepicker7" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
     $( "#datepicker8" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
  $( "#datepicker9" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
   $( "#datepicker10" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
    $( "#datepicker11" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
     $( "#datepicker12" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
   $( "#datepicker13" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
     $( "#datepicker14" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
  } );
  </script>






  </body>
</html>
