<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
   <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>
<body>


  <div class="ui attached stackable menu">
    <div class="ui container">
      <a class="item">
        <i class="home icon"></i> FIMS
      </a>

       <a class="item">
        Department of {{data1.department.name}}
      </a>
     
    
     
      <div class="right item">
         <a class="item">
        Welcome, {{data1.first_name}}
      </a>
      <a class="item" href="/logout/">
        <i class="power off icon"></i>
      </a>
      </div>
    </div>
  </div>


<div class="ui container" style="margin-top: 5%;">

	<table class="ui celled table">
  <thead>
    <tr>
      <th>S No.</th>
      
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
  	{% for year in data0 %}
    <tr>
      
      <td>{{forloop.counter}}</td>
      <td><a href="/first_new/{{year.year}}">{{year.year}}</a></td>
    </tr>

    {% endfor %}
    
  </tbody>
</table>

</div>

</body>
</html>