<!DOCTYPE html>
{% load staticfiles %}

{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tarzan</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
   <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
  </head>
  <body style="background:#6099a6;">

    <!-- Navbar -->
    <div class="ui attached stackable menu" style="background:#225f73;">
    <div class="ui container">
      <a class="item" style="color:#ffffff;">
        <i class="home icon" style="color:#ffffff;"></i> <span style="font-size:20px;">Tarzan</span>
      </a>

      <a class="item" style="color:#ffffff;">
        <i class="columns icon" style="color:#ffffff;"></i> Interaction with outside world
      </a>

      <div class="right item">

        <a class="item" style="color:#ffffff;">
        <i class="power off icon" style="color:#ffffff;"></i></a>

      </div>
    </div>
  </div>

  <!-- Navbar end -->

<div class="ui container" style="margin-top:3%;">


  <div class="ui raised segment">
  <h4 class="ui header">Seminar/Technical Talk/BOS/BOE/Academic Coucil/BOG</h4>

  <form method="post">
    {% csrf_token %}

    <div class="ui form">
  <div class="one fields">
    <div class="six wide field">
      <label>Date</label>
      {% render_field form.date class="form-control" id="datepicker1" %}
    </div>

  </div>

  <div class="one fields">
    <div class="six wide field">
      <label>Venue</label>
      {% render_field form.venue class="form-control" %}
    </div>

</div>

<div class="one fields">
  <div class="six wide field">
    <label>Breif Remarks</label>
    {% render_field form.brief_remarks class="form-control" %}
  </div>

</div>




</div>

  </form>



</div>


<!-- Attended -->




</div>
<script>
  $( function() {
    $( "#datepicker1" ).datepicker({
    dateFormat: "dd/mm/yyyy"
  });
  } );
  </script>







  </body>
</html>
