<!DOCTYPE html>
{% load staticfiles %}

{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FIMS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
   <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
  </head>
  <body style="background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);">

    <!-- Navbar -->
    <div class="ui attached stackable menu" style="background:#343a40;">
    <div class="ui container">
      <a class="item" style="color:#ffffff;">
        <i class="home icon" style="color:#ffffff;"></i> <span style="font-size:20px;">FIMS</span>
      </a>

      <a class="item" style="color:#ffffff;">
        <i class="columns icon" style="color:#ffffff;"></i> Funded project preview
      </a>

      <div class="right item">

        <a class="item" style="color:#ffffff;" href="/logout/">
        <i class="power off icon" style="color:#ffffff;"></i></a>

      </div>
    </div>
  </div>

  <!-- Navbar end -->

<div class="ui container" style="margin-top:3%;">


  
  <h4 class="ui header">Funded Projects</h4>

  <form method="post">

    <div class="ui form">


<!-- one -->

<div class="ui raised segment">

  <div class="one fields">
    <div class="six wide field">
      <label>Title</label>
      
       <input type="text" disabled value="{{key.title_1}}">
  </div>
    </div>



<div class="one fields">
  <div class="six wide field">
    <label>Name of the funding agency</label>
    
      <input type="text" disabled value="{{key.name_agency_1}}">
  </div>

</div>
<div class="three fields">
  <div class="four wide field">
    <label>Type of funding agency</label>
    
     <input type="text" disabled value="{{key.agency_type_1}}">

  </div>

  <div class="four wide field">
    <label>Date of sanction</label>
    
     <input type="text" disabled value="{{key.date_sanction_1}}">

  </div>
  <div class="four wide field">
    <label>Total amount sanction</label>
    
     <input type="text" disabled value="{{key.amount_sanction_1}}">

  </div>


</div>

<div class="two fields">
  <div class="six wide field">
    <label>Date from</label>
    
     <input type="text" disabled value="{{key.from_date_1}}">
    
  </div>

  <div class="six wide field">
    <label>Date to</label>
    
     <input type="text" disabled value="{{key.to_date_1}}">
    
  </div>


</div>

<div class="two fields">
  <div class="six wide field">
    <label>Place of execution</label>
    
     <input type="text" disabled value="{{key.place_1}}">
    
  </div>
  <div class="six wide field">
    <label>PI/Co-PI</label>
    
     <input type="text" disabled value="{{key.investigator_type_1}}">
    
  </div>


</div>

<div class="two fields">
  <div class="six wide field">
    <label>Amount released</label>
    
     <input type="text" disabled value="{{key.amount_released_1}}">
    
  </div>
  <div class="six wide field">
    <label>Date released</label>
    
     <input type="text" disabled value="{{key.date_released_1}}">
    
  </div>


</div>
<div class="one fields">
  <div class="six wide field">
    <label>Extended duration</label>
     
      <input type="text" disabled value="{{key.date_released_1}}">
  </div>

</div>
<div class="two fields">
  <div class="six wide field">
    <label>Additional money</label>
   
     <input type="text" disabled value="{{key.yes_no_1}}">
    
  </div>
  <div class="six wide field">
    <label>Value</label>
    
     <input type="text" disabled value="{{key.amount_additional_1}}">
    
  </div>

</div>
<div class="one fields">
  <div class="six wide field">
    <label>Remarks</label>
     
      <input type="text" disabled value="{{key.brief_remarks_1}}">
  </div>

</div>




<!-- one end -->

 </div>

 <div class="ui raised segment">

  <div class="one fields">
    <div class="six wide field">
      <label>Title</label>
     
       <input type="text" disabled value="{{key.title_2}}">
  </div>
    </div>



<div class="one fields">
  <div class="six wide field">
    <label>Name of the funding agency</label>
     
      <input type="text" disabled value="{{key.name_agency_2}}">
  </div>

</div>
<div class="three fields">
  <div class="four wide field">
    <label>Type of funding agency</label>
    
     <input type="text" disabled value="{{key.agency_type_2}}">

  </div>

  <div class="four wide field">
    <label>Date of sanction</label>
    
     <input type="text" disabled value="{{key.date_sanction_2}}">

  </div>
  <div class="four wide field">
    <label>Total amount sanction</label>
   
     <input type="text" disabled value="{{key.amount_sanction_2}}">

  </div>


</div>

<div class="two fields">
  <div class="six wide field">
    <label>Date from</label>
    
     <input type="text" disabled value="{{key.from_date_2}}">
    
  </div>

  <div class="six wide field">
    <label>Date to</label>
    
     <input type="text" disabled value="{{key.to_date_2}}">
    
  </div>


</div>

<div class="two fields">
  <div class="six wide field">
    <label>Place of execution</label>
    
     <input type="text" disabled value="{{key.place_2}}">
    
  </div>
  <div class="six wide field">
    <label>PI/Co-PI</label>
    
     <input type="text" disabled value="{{key.investigator_type_2}}">
    
  </div>


</div>

<div class="two fields">
  <div class="six wide field">
    <label>Amount released</label>
    
     <input type="text" disabled value="{{key.amount_released_2}}">
    
  </div>
  <div class="six wide field">
    <label>Date released</label>
    
    
  </div>


</div>
<div class="one fields">
  <div class="six wide field">
    <label>Extended duration</label>
    
      <input type="text" disabled value="{{key.date_released_2}}">
  </div>

</div>
<div class="two fields">
  <div class="six wide field">
    <label>Additional money</label>
   
     <input type="text" disabled value="{{key.yes_no_2}}">
    
  </div>
  <div class="six wide field">
    <label>Value</label>
    
     <input type="text" disabled value="{{key.amount_additional_2}}">
    
  </div>

</div>
<div class="one fields">
  <div class="six wide field">
    <label>Remarks</label>
     
      <input type="text" disabled value="{{key.brief_remarks_2}}">
  </div>

</div>

</div>



 <div class="ui raised segment">

  <div class="one fields">
    <div class="six wide field">
      <label>Title</label>
      
       <input type="text" disabled value="{{key.title_3}}">
  </div>
    </div>



<div class="one fields">
  <div class="six wide field">
    <label>Name of the funding agency</label>
     
      <input type="text" disabled value="{{key.name_agency_3}}">
  </div>

</div>
<div class="three fields">
  <div class="four wide field">
    <label>Type of funding agency</label>
    
     <input type="text" disabled value="{{key.agency_type_3}}">

  </div>

  <div class="four wide field">
    <label>Date of sanction</label>
    
     <input type="text" disabled value="{{key.date_sanction_3}}">

  </div>
  <div class="four wide field">
    <label>Total amount sanction</label>
    
     <input type="text" disabled value="{{key.amount_sanction_3}}">

  </div>


</div>

<div class="two fields">
  <div class="six wide field">
    <label>Date from</label>
    
     <input type="text" disabled value="{{key.from_date_3}}">
    
  </div>

  <div class="six wide field">
    <label>Date to</label>
   
     <input type="text" disabled value="{{key.to_date_3}}">
    
  </div>


</div>

<div class="two fields">
  <div class="six wide field">
    <label>Place of execution</label>
    
     <input type="text" disabled value="{{key.place_3}}">
    
  </div>
  <div class="six wide field">
    <label>PI/Co-PI</label>
   
     <input type="text" disabled value="{{key.investigator_type_3}}">
    
  </div>


</div>

<div class="two fields">
  <div class="six wide field">
    <label>Amount released</label>
    
     <input type="text" disabled value="{{key.amount_released_3}}">
    
  </div>
  <div class="six wide field">
    <label>Date released</label>
   
     <input type="text" disabled value="{{key.date_released_3}}">
    
  </div>


</div>
<div class="one fields">
  <div class="six wide field">
    <label>Extended duration</label>
     
      <input type="text" disabled value="{{key.date_released_3}}">
  </div>

</div>
<div class="two fields">
  <div class="six wide field">
    <label>Additional money</label>
    
     <input type="text" disabled value="{{key.yes_no_3}}">
    
  </div>
  <div class="six wide field">
    <label>Value</label>
    
     <input type="text" disabled value="{{key.amount_additional_3}}">
    
  </div>

</div>
<div class="one fields">
  <div class="six wide field">
    <label>Remarks</label>
     
      <input type="text" disabled value="{{key.brief_remarks_3}}">
  </div>
</div>

</div>
</div>

  </form>
</div>







  </body>
</html>
