<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FIMS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
   <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
  </head>
  <body style="background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);">

    <!-- Navbar -->
    <div class="ui attached stackable menu" style="background:#343a40;">
    <div class="ui container">
      <a class="item" style="color:#ffffff;">
        <i class="home icon" style="color:#ffffff;"></i> <span style="font-size:20px;">FIMS</span>
      </a>

      <a class="item" style="color:#ffffff;">
        <i class="columns icon" style="color:#ffffff;"></i> STTP Preview
      </a>

      <div class="right item">

        <a class="item" style="color:#ffffff;" href="/logout/">
        <i class="power off icon" style="color:#ffffff;"></i></a>
      </div>
    </div>
  </div>

  <!-- Navbar end -->

<div class="ui container" style="margin-top:3%;">


  <div class="ui raised segment">
  <h4 class="ui header">Conducted/Organised</h4>

  <form method="post">

    <div class="ui form">
  <div class="one fields">
    <div class="six wide field">
      <label>Name</label>
      <input type="text" disabled value="{{key.conducted_name}}">
    </div>

  </div>

  <div class="two fields">
    <div class="field">
      <label>Date from</label>
      <input type="text" disabled value="{{key.conducted_from}}">
    </div>

    <div class="field">
      <label>Date to</label>
      <input type="text" disabled value="{{key.conducted_to}}">
    </div>
</div>

<div class="one fields">
  <div class="ten wide field">
    <label>Topic</label>
    <input type="text" disabled value="{{key.conducted_topic}}">
  </div>

</div>


<div class="two fields">
  <div class="field">
    <label>No. of participants</label>
    <input type="number" disabled value="{{key.conducted_participants}}">
  </div>

  <div class="field">
    <label>No. of speakers invited</label>
    <input type="number" disabled value="{{key.conducted_speakers}}">
  </div>
</div>


</div>

  </form>



</div>


<!-- Attended -->

<div class="ui raised segment" style="margin-top:2%; margin-bottom:5%;">
<h4 class="ui header">Attended</h4>

<form method="post">

  <div class="ui form">
<div class="one fields">
  <div class="six wide field">
    <label>Name</label>
    <input type="text" disabled value="{{key.attended_name}}">
  </div>

</div>

<div class="two fields">
  <div class="field">
    <label>Date from</label>
    <input type="text" disabled value="{{key.attended_from}}">
  </div>

  <div class="field">
    <label>Date to</label>
    <input type="text" disabled value="{{key.attended_to}}">
  </div>
</div>

<div class="one fields">
<div class="ten wide field">
  <label>Topic</label>
  <input type="text" disabled value="{{key.attended_topic}}">
</div>

</div>


<div class="one fields">
<div class="field">
  <label>Venue</label>
  <input type="text" disabled value="{{key.attended_venue}}">
</div>

</div>

<div class="one fields">
<div class="field">
  <label>Name of college</label>
  <input type="text" disabled value="{{key.attended_college}}">
</div>

</div>


</div>

</form>



</div>


</div>


<div class="ui inverted vertical footer raised segment" style="background:#f5f5f5;">
  <div class="ui center aligned container">

    <div class="ui horizontal small divided link list">
      <a class="item" href="#" style="color:#212121;">Contact Us</a>
      <a class="item" href="#" style="color:#212121;">Terms and Conditions</a>
    </div>
  </div>
</div>




  </body>
</html>
