<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FIMS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
   <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
  </head>
  <body style="background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);">

    <!-- Navbar -->
    <div class="ui attached stackable menu" style="background:#343a40;">
    <div class="ui container">
      <a class="item" style="color:#ffffff;">
        <i class="home icon" style="color:#ffffff;"></i> <span style="font-size:20px;">FIMS</span>
      </a>

      <a class="item" style="color:#ffffff;">
        <i class="columns icon" style="color:#ffffff;">Book Preview</i>
      </a>

      <div class="right item">

         <a class="item" style="color:#ffffff;" href="/logout/">
        <i class="power off icon" style="color:#ffffff;"></i></a>

      </div>
    </div>
  </div>

  <!-- Navbar end -->

<div class="ui container" style="margin-top:3%;">


  <div class="ui raised segment">
  <h4 class="ui header">Book</h4>

  <form method="post">

    <div class="ui form">
  <div class="one fields">
    <div class="six wide field">
      <label>No. of books</label>
      <input type="number" disabled value="{{key.number}}">
    </div>

  </div>

  <div class="one fields">
    <div class="six wide field">
      <label>Author type</label>
      <input type="text" disabled value="{{key.author.name}}">
    </div>

</div>

<div class="one fields">
  <div class="six wide field">
    <label>Name of Publishers</label>
    <input type="text" disabled value="{{key.name_publisher}}">
  </div>

</div>




</div>

  </form>



</div>


<!-- Attended -->




</div>






  </body>
</html>
