<!DOCTYPE html>
{% load staticfiles %}

{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tarzan</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
   <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
  </head>
  <body style="background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);">

    <!-- Navbar -->
    <div class="ui attached stackable menu" style="background:#343a40;">
    <div class="ui container">
      <a class="item" style="color:#ffffff;">
        <i class="home icon" style="color:#ffffff;"></i> <span style="font-size:20px;">FIMS</span>
      </a>

      <a class="item" style="color:#ffffff;">
        <i class="columns icon" style="color:#ffffff;"></i> PHD Self Preview
      </a>

      <div class="right item">

        <a class="item" style="color:#ffffff;" href="/logout/">
        <i class="power off icon" style="color:#ffffff;"></i></a>

      </div>
    </div>
  </div>

  <!-- Navbar end -->

<div class="ui container" style="margin-top:3%;">


  <div class="ui raised segment">
  <h4 class="ui header">PHD Self</h4>

  <form method="post">
    {% csrf_token %}

    <div class="ui form">

  <div class="two fields">
    <div class="field">
      <label>Internal or external</label>
      <input type="number" disabled value="{{key.int_ext}}">
      
    </div>
    <div class="field">
      <label>Area / Domain</label>
      <input type="number" disabled value="{{key.area}}">
     
    </div>

  </div>

  <div class="two fields">
    <div class="field">
      <label>Year of registration</label>
      <input type="number" disabled value="{{key.year}}">
     
    </div>
    <div class="field">
      <label>University name</label>
      <input type="number" disabled value="{{key.name_university}}">
      
    </div>

  </div>


  <div class="three fields">
    <div class="field">
      <label>Research center name</label>
      <input type="number" disabled value="{{key.name_research_centre}}">
     
    </div>
    <div class="field">
      <label>Name of student</label>
      <input type="number" disabled value="{{key.name_student}}">
      
    </div>
    <div class="field">
      <label>PHD Status</label>
      <input type="number" disabled value="{{key.phd_status}}">
      
    </div>

  </div>

  <div class="two fields">
    <div class="field">
      <label>Name Guide</label>
      <input type="number" disabled value="{{key.name_guide}}">
      
    </div>
    <div class="field">
      <label>Name co-guide</label>
      <input type="number" disabled value="{{key.name_co_guide}}">
     
    </div>

  </div>









</div>

  </form>



</div>


<!-- Attended -->




</div>






  </body>
</html>
