<!DOCTYPE html>
{% load staticfiles %}

{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tarzan</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
   <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>
   <!--    For date picker  --> 
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!--  date picker ends  --> 
  </head>
  <body style="background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);">

    <!-- Navbar -->
    <div class="ui attached stackable menu" style="background:#343a40;">
    <div class="ui container">
      <a class="item" style="color:#ffffff;">
        <i class="home icon" style="color:#ffffff;"></i> <span style="font-size:20px;">FIMS</span>
      </a>

      <a class="item" style="color:#ffffff;">
        <i class="columns icon" style="color:#ffffff;"></i> STTP
      </a>

      <div class="right item">

         <a class="item" style="color:#ffffff;" href="/logout/">
        <i class="power off icon" style="color:#ffffff;"></i></a>

      </div>
    </div>
  </div>

  <!-- Navbar end -->

<div class="ui container" style="margin-top:3%;">


  <div class="ui raised segment">
  <h4 class="ui header">Conducted/Organised</h4>

  <form method="post">
    {% csrf_token %}

    <div class="ui form">
  <div class="one fields">
    <div class="six wide field">
      <label>Name</label>
        {% render_field form.conducted_name class="form-control" %}
    </div>

  </div>

  <div class="two fields">
    <div class="field">
      <label>Date from</label>
        {% render_field form.conducted_from class="form-control" id="datepicker1" %}
    </div>

    <div class="field">
      <label>Date to</label>
      {% render_field form.conducted_to class="form-control" id="datepicker2" %}
    </div>
</div>

<div class="one fields">
  <div class="ten wide field">
    <label>Topic</label>
      {% render_field form.conducted_topic class="form-control" %}
  </div>

</div>


<div class="two fields">
  <div class="field">
    <label>No. of participants</label>
    {% render_field form.conducted_participants class="form-control" %}
  </div>

  <div class="field">
    <label>No. of speakers invited</label>
      {% render_field form.conducted_speakers class="form-control" %}
  </div>
</div>


</div>

  </form>



</div>


<!-- Attended -->

<div class="ui raised segment" style="margin-top:2%; margin-bottom:5%;">
<h4 class="ui header">Attended</h4>

<form method="post">
  {% csrf_token %}

  <div class="ui form">
<div class="one fields">
  <div class="six wide field">
    <label>Name</label>
      {% render_field form.attended_name class="form-control" %}
  </div>

</div>

<div class="two fields">
  <div class="field">
    <label>Date from</label>
      {% render_field form.attended_from class="form-control" id="datepicker3" %}
  </div>

  <div class="field">
    <label>Date to</label>
      {% render_field form.attended_to class="form-control" id="datepicker4" %}
  </div>
</div>

<div class="one fields">
<div class="ten wide field">
  <label>Topic</label>
    {% render_field form.attended_topic class="form-control" %}
</div>

</div>


<div class="one fields">
<div class="field">
  <label>Venue</label>
{% render_field form.attended_venue class="form-control" %}
</div>

</div>

<div class="one fields">
<div class="field">
  <label>Name of college</label>
  {% render_field form.attended_college class="form-control" %}
</div>

</div>


</div>

</form>



</div>


</div>


<div class="ui inverted vertical footer raised segment" style="background:#f5f5f5;">
  <div class="ui center aligned container">

    <div class="ui horizontal small divided link list">
      <a class="item" href="#" style="color:#212121;">Contact Us</a>
      <a class="item" href="#" style="color:#212121;">Terms and Conditions</a>
    </div>
  </div>
</div>
<script>
  $( function() {
    $( "#datepicker1" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
   $( "#datepicker2" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
    $( "#datepicker3" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
     $( "#datepicker4" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
  } );
  </script>






  </body>
</html>
