<!DOCTYPE html>
<html>
<head>
	<title>Success</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<body style="background: #e9ecef;">


<div class="container" style="margin: auto;">
	<div class="jumbotron text-xs-center">
  <h1 class="display-3">You are logged out!</h1>
 
  <hr>
  <p>
    Having trouble? <a href="https://goo.gl/forms/gpjKUla5dwO0EXrf2">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to Login</a>
  </p>
</div>
</div>

</body>
</html>